# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
desktop.ini
